<form id="sip-form">
        <h1 data-i18n>SIP Login</h1>

        <label for="sip-host" data-i18n>Address</label>
        <input id="sip-host" type="text" name="sip-host" value="<%=sip.address%>" >

        <div class="">
            <label data-i18n>Username</label>
            <input type="text" class='inputSip' name="name" value="" autofocus>

        </div>
        <div class="">
            <label data-i18n>Password </label>
            <input type="password"  class='inputSip' name="password" value="">
        </div>
        <div class="">
            <label data-i18n>Port SIP </label>
             <input type="text" class='inputSip' name="port" value="<%=sip.port%>">
        </div>
        
    </div>
    <input type="button" id="login" class="btn btn-success" data-i18n="[value]Login" value="Login" >

	
</form>