<form>
    <label for="name" data-i18n>Client name</label>
    <input type="text" id="name" data-i18n="[placeholder]Name" placeholder="Name" value="" autofocus/>

    <label for="host" data-i18n>Client host</label>
    <input type="text" id="host" data-i18n="[placeholder]Host" placeholder="Host" value=""/>

    <label for="port" data-i18n>Client name</label>
    <input type="text" id="port" data-i18n="[placeholder]Port" placeholder="Port" value=""/>

    <a id="create" class="btn btn-large" data-i18n>Add</a>
</form>