[submodule "assets"]
	path = assets
	url = git@code.sat.qc.ca:metalab/metalab-styles.git

[submodule "node-switcher"]
	path = node_modules/node-switcher
	url = https://pachesnel@code.sat.qc.ca/redmine/node-addons/node-switcher.git
