<!doctype html>
<html lang="en">
<head>
    <title>Scenic2 - SAT</title>
    <!-- Load the script "js/main.js" as our entry point -->

    <!-- /**** CSS ****/ -->

	<link href="/js/libs/jqueryui/css/no-theme/jquery-ui-1.10.2.custom.min.css" rel="stylesheet" type="text/css" >
	<link href="/assets/css/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
	<link href="/assets/css/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="http://fonts.typotheque.com/WF-015004-001436.css" type="text/css" />

	 <!-- /**** JAVSCRIPT ****/ -->

    <script src="/socket.io/socket.io.js"></script>
    <script data-main="/js/main.js" src="/js/libs/require-jquery.js"></script>

</head>
<body class="scenic2">
		<!-- <div id="errorMsg">Test de message d'erreur</div> -->
		<header id="header">
			<div id="logo">SCENIC2</div>
			<!-- <div class="btn" id="openPanel">&gt;&gt;</div> -->
			<!-- <div class="btn" id="saveJson">Save</div>  -->
			<div id="menu"></div>

		</header>

		<div id="windowTable">

			<div id="headerTable">
							<div class="btnCreate" style="margin-top:4px;">SAVE</div>
				<div class="btnCreate btnCreateDestination">+ OUT</div>
				<div class="btnCreate btnCreateSource">+ IN</div>

			</div>

			<table id="testTable">
				<colgroup>
				<col colspan="2" class="source"></col>
				<col colspan="2" class="source"></col>
				<col class="osc"  id="/snake/out/0"></col>
				<col class="osc" style="border-right:1px solid #aaa;" id="/snake/out/1"></col>
				<col class="midi" id="/snake/out/0"></col>
				<col class="midi" id="/snake/out/1"></col>
				</colgroup>

				<thead>
					<tr>
						<th rowspan="2" colspan="2" >
							<div id="titleIn"><span class="rotate">IN</span></div>
							<div id="titleOut">OUT</div>
						</th>
						<th colspan="2" scope="col" class="group groupDestination" >OSC</th>
						<th colspan="3" scope="col" class="group groupDestination" >DMX</th>

					</tr>
					<tr class="sourceNames">
						<th scope="col" class="nameInOut">/snake/out/0</th>
						<th scope="col" class="nameInOut" >/snake/out/1</th>
						<th scope="col"class="nameInOut" >R</th>
						<th scope="col"class="nameInOut" >V</th>
						<th scope="col"class="nameInOut" >B</th>
					</tr>

				</thead>
				<tbody id="sources"></tbody>
			</table>
		</div>


		<div id="panel"></div>
	    
		<div id="bgLightbox"></div>
		<div id="lightBox"></div>
		<div id="log" style="display:none;">
			<h3>Log</h3>
			<class class="content"></class>
		</div>

		<script id="item-template" type="text/x-jquery-tmpl">
		<% var stateTitle = false;
		 _.each(shmdatas, function(shmdata){ %>

			<% if(!stateTitle){ %>
			<td rowspan="<%=shmdatas.length%>" class="group groupSource" ><div class="vertical"><%=name%></div></td>
			<% stateTitle = true; }%>

			<th scope="row" class="nameInOut"  title="<%=shmdata.path%>" ><% var nameShm = shmdata.path.split("_")  %><%=nameShm[nameShm.length-1]%></th>

			<!-- here td of destinations -->
		<% }); %>
		 </script>

		<script type="text/javascript">
		$(document).ready(function(){
			$(function(){
				var state = "close";
				$("#log h3").click(function(){
					if(state == "open"){
						$("#log").animate({"right" : -$("#log").width()-61}, function(){
							state = "close";
						});
					}else{
						$("#log").animate({"right" : 0});
						console.log("open");
						state = "open";
					}
				});

			})
		});
		</script>
	</body>
</html>

