[Desktop Entry]
Version=1.0
Name=scenic
Exec=scenic
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=/opt/scenic/assets/images/icons/g_128.png
Categories=Network;WebBrowser;
StartupNotify=true
StartupWMClass=http://localhost:8095
