.table
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
  padding: 0
  float: left
  margin: 25px 0 0 25px
  //+boxShadow
  //position : fixed //UBALD: Prevented the menu from being displayed on top of the header, was it really necessary here?
  display: none
  width: 100%
  +border-radius(2px)
  #headerTable
    position: absolute
    //UBALD: Changed from relative in order to move the menu in the header
    left: 70px
    top: 0px
    z-index: 30000
    //UBALD: Header is 20000 so I had to go higher
    height: 40px
    margin: 10px
    background: #333
    padding: 0
    // border-bottom : 1px solid #d3d3d3
    // +box-shadow(rgba(white, 0.4)  0px -7px 0px -6px inset)
    cursor: move
    .headerMenu > div
      margin-right: 10px
      font-size: 1.2em
      float: left
      background: #444
      +box-shadow(rgba(black, 0.5) 0px 0px 26px -8px)
      border: none
      color: #ccc
      text-transform: uppercase
      &:hover
        color: white
        background: #484848
    .filter
      padding: 0
      width: 160px
      float: left
      opacity: 0.5
      &:hover
        opacity: 1
        cursor: pointer
      select
        width: 100%
        background: #444
        border: #444
        color: white
        cursor: pointer
        height: 36px
        margin: 0
        option
          cursor: pointer
          border: none
  #titleOut
    position: absolute
    left: 0
    right: 0
    margin: 55px 10px 0 299px
    height: 22px
    background: #333 url(../../images/titleInOut.png) center -3px no-repeat
    opacity: 0.9
    +border-radius(2px)
  // display : none

  #titleHeader
    padding: 0
  #titleIn
    position: absolute
    background: #be2620
    top: 0
    bottom: 0
    width: 22px
    margin: 134px 0 16px 1px
    color: white
    background: #333 url(../../images/titleInOut.png) -5px center no-repeat
    opacity: 0.9
    +border-radius(2px)
  // display : none
  &.active
    display: block

// #control
//  background : #ddd

#subMenu
  position: absolute
  width: 180px
  float: left
  top: 36px
  background-color: #333
  //height: auto //UBALD: Temporary, just to align menus correctly for now
  margin-right: 10px
  // padding: 2px
  //font-size: 1.2em
  // +background-image(linear-gradient(rgba(255,255,255, 0.7), rgba(255,255,255, 0.3)))
  +box-shadow(rgba(black, 0.5) 0px 0px 26px -8px)
  //+border-radius(3px)
  border: none
  color: #333
  text-transform: uppercase
  div
    // background: #22f
    //height: auto
    padding: 0px

  //&:hover
  //  +background-image(linear-gradient(rgba(255, 1, 255, 1), rgba(255, 255, 255, 0.7)))
  a
    text-decoration: none
  h3
    display: block
    background: #222
  .menuButtons
    //width: 180px
    height: auto
    margin: 2px


.contextMenu .menuButton
  padding : 6px 15px 5px 25px
  display : inline-block
  color: #ccc
  line-height : 25px
  font-family: "Irma Light"
  cursor : pointer
  font-size : 12px
  letter-spacing: 0.08em
  &:hover
    color: white
    background: #484848

// Drop Down Arrow
.contextMenu .menuButton
  &:before
    content : ""
    width: 0
    height: 0
    border-left: 4px solid transparent
    border-right: 4px solid transparent
    border-top: 4px solid white
    position : relative
    left : -12px
    top : 10px

#subMenu .menuButtons > a
  position: relative
  display: block
  color: #b3b3b3
  margin: 1px
  padding: 1px
  background: #323232
  border: 0
  &:hover
    background: #b33232
  .ui-button-text
    font-size: 10px