
// .chart
// 	position : relative
// 	float : right
// 	background : #222
// 	width : 160px
// 	height : 40px
// 	margin : 6px
// rect
// 	// fill : grey
// 	// fill-opacity : 0.5

// .bar
// 	fill : grey
// 	fill-opacity : 0.5
// 	stroke-width : 0.1

// .Netbar
// 	fill : grey
// 	fill-opacity : 0.5
// 	stroke-width : 0.1

// .monBg
// 	height : 100%
// 	width : 50px
// 	stroke : grey
// 	stroke-width : 0.5
// 	fill : grey
// 	fill-opacity : 0.1

// .monLabel
// 	fill : grey


#preview_usagesystem
	color : white
	position : absolute
	height : 250px
	width : 100%
	background : #222

	// float : right
	bottom : 0
	.cpu_info
		height : 100%
		background : #2a2a2a	

	.content
		margin : 5px 10px
	.info
		text-align: center
		padding : 3px 0 0 0 
		position : relative
		width : 100%
		float : left
		height : 40px
		border-top : 1px solid #1c1c1c
		&:first-child
			border : none
		.label
			font-size : 10px
			color : #aaa
			margin-bottom : 3px
	.cpus
		//background : blue
		// height : 10px
		.bar
			width : 5px
			height : 2%
			background : #555
			position : absolute
			bottom : 0
		.content_bar
			height : 22px
			width : 100%
			position : relative
	.alert
		background : #be2620!important
	.memory
		.content
			margin-top : 8px
	.network
		//background : orange
		// height : 20px
		padding-bottom : 3px
		font-size : 9px
		// text-align : left
		color : #ccc
		.label
			// text-align: left
		.receive, .transfer
			// margin-left: 10px
			// text-align: center
			//padding : 0 6px 2px 0
	.cpu_info
		padding : 2px 0px
	.total
		font-size : 14px
	.text
		font-size : 10px
