<h2>Contacts</h2>
<% if(!loginForm){ %>
<div class="itsMe user"></div>
<% } %>
<!-- <div class="search">
	<input type="text" name="" value="" placeholder="Rechercher un utilisateur...">
</div> -->
	<div class="content_users">
		<input type="text" id="add-user" value="" data-i18n="[placeholder]Add user" placeholder="Add user">
		<% if (typeof(listStatus) != "undefined") { %>
			<% _.each(listStatus, function(status){ %>
				<div data-status="<%=status.name.toLowerCase()%>" class="status-<%=status.value%> list"></div>
			<% }); %>
				<div data-status="offline" class="status-offline list"></div>
				<div data-status="online" class="status-online list"></div>
				<div data-status="unknown" class="status-unknown list"></div>

		<% } %>
		
	</div>