<div class="close" id="close-inspector">X</div>
<div class="title"><span i18n>Edit destination</span> <%=destination.get('name')%></div>
<div class="content">
	<form id="form-destination"  onsubmit="return(false)">

		<input type="text" id="name" value="<%=destination.get('name')%>" />

		<h3 class="info" title="" >Address Client</h3>
		<input type="text" id="hostName" value="<%=destination.get('hostName')%>" />

		<h3>Port soap</h3>
		<input type="text" id="portSoap" value="<%=destination.get('portSoap')%>" data-i18n="[placeholder]required just for server scenic" placeholder="required just for server scenic" >

		<input type="submit" class="btn btn-large"  data-i18n="[value]Save" value="Save"/>

	</form>
</div>