<div id="lightBox">
  <div id="launch">
    <br>
    <br>
    <form id="form-config">

      <div id="accordion">
        <h3 ><span data-i18n>Configuration SIP</span></h3>
        <div id='loginSip'>

        </div>
        <h3 ><span data-i18n>Scenic2 Server configuration</span></h3>
        <div>
          <div class="identification">
            <label>Identification</label>
            <input type="text" name="username" value="<%=username%>" autofocus="autofocus">
            <input type="password" name="pass" data-i18n="[placeholder]password" placeholder="password">
            <input type="password" name="confirmPass"  data-i18n="[placeholder]confirm password" placeholder="confirm password">
            <div class="info" data-i18n>* server access is unsecured without password</div>
          </div>

          <div class="parameters">
            <div class="half">
              <label data-i18n>Port SOAP</label>
              <input type="text" name="portSoap" value="<%=soap%>">
            </div>
            <div class="half"></div>
          </div>
        </div>

      </div>
      <input type="submit" value="Launch" id="submitParam">
      <div class="status"></div>
    </form>
  </div>
</div>
<div id="bgLightBox"></div>