$actionsWidth: 125px;

.sip-panel {
  header {
    padding: 1em;
  }

  .sip-actions {
    padding: 1em;
  }

  .contact-list {
    border-top: 1px solid darken($backgroundColorDarker, 5%);
    overflow-y: auto;
    overflow-x: hidden;

    .contact {

      // What is the "not active" status?
      &.active {

        &:hover {
          .contact-actions-wrapper {
            width: $actionsWidth;
          }
          .contact-actions {
            display: block;
          }
          .contact-info {
            margin-left: $actionsWidth;
          }
        }

        .contact-actions {
          position: absolute;
          width: $actionsWidth;
          height: 100%;

          .contact-action {
            float: left;
            width: 50%;
            height: 100%;

            .icon {
              width: 100%;
              height: 100%;
            }

            &.add-destination {
              &:hover {
                background: $green;
              }
              .icon {
                background: url(../../icons/plus.png) center no-repeat;
              }
            }

            &.edit-contact {
              &:hover {
                background: $orange;
              }
              .icon {
                background: url(../../icons/740-gear.png) center center no-repeat;
              }
            }
          }
        }
      }

      .contact-actions-wrapper {
        position: absolute;
        overflow: hidden;
        width: 0;
        height: 100%;
        @include transition(width 0.5s);
      }

      .contact-actions {
        display: none;
        background: darken($backgroundColorDarker, 5%);
      }
    }
  }

  .contact {
    position: relative;
    cursor: default;
    border-bottom: 1px solid darken($backgroundColorDarker, 5%);

    .contact-info {
      width: 100%;
      padding: 0.75em 1em;
      overflow: hidden;
      background: $backgroundColorDarker;
      @include transition(margin-left 0.5s);

      .contact-name {
        float: left;
        font-size: 1.25em;
        color: $textColorBrighter;
      }
      .contact-uri {
        float: right;
        color: $textColorSubtle;
      }
      .contact-status {
        float: left;
        clear: left;
        margin-right: 0.5em;
        color: $textColor;
        text-transform: uppercase;
      }
      .contact-status-text {
        float: left;
        color: $textColorSubtle;
      }
    }
  }

  .self .contact {
    border-top: 1px solid darken($backgroundColorDarker, 5%);
    .contact-info {
      padding-top: 0;
      input {
        background: none;
        margin: 0;
        padding: 0;
        &:focus {
          border: none;
        }
      }
      .contact-name {
        font-size: 1.5em;
      }
      .contact-status-text {
        height: 2em;
        font-size: 1em;
      }
    }
    .status-list {
      position: absolute;
      background: $backgroundColorDarkish;
      top: 50px;
      left: 12px;
      z-index: 1;
      @include box-shadow(0px 0px 6px #000);
      li {
        padding: 1em;
        &:hover {
          &.available {
            background-color: $green;
            color: $textColorDark;
          }
          &.busy {
            background-color: $orange;
            color: $textColorDark;
          }
          &.away {
            background-color: $red;
            color: $textColorDark;
          }
          &.offline {
            background-color: #101010;
          }
        }
      }
    }
  }
}

.contact {
  .contact-info {
    border-left: 2px solid;
  }

  //TODO: Why both? Enum says available but tree says online
  &.available, &.online {
    .contact-info {
      border-left-color: $green;
    }
  }

  &.busy {
    .contact-info {
      border-left-color: $orange;
    }
  }

  &.away {
    .contact-info {
      border-left-color: $red;
    }
  }

  &.offline {
    .contact-info {
      border-left-color: #111;
    }
    opacity: 0.5;
  }
}