#header {
  width: 100%;
  height: $headerHeight;
  background: #333;
  position: fixed;
  top: 0;
  z-index: 1;

  .logo {
    position: absolute;
    left: -8px;
    top: -20px;
  }

  nav.menu {
    float: right;
    margin: 10px;
    ul {
      color: $textColorBrighter;
      li {
        float: left;
        &:not(:last-child) {
          margin-right: 5px;
        }
        a {
          display: block;
          padding: 15px 10px;
          background: #2c2c2c;
          text-transform: uppercase;
          cursor: pointer;
          &:hover {
            background: $backgroundColorDarker;
          }
        }
        .lang {
          font-size: 10px;
          padding: 5px 5px 4px;
          margin: 0;
          display: block;
          background: #2c2c2c;
          color: white;
          border: none;
          &.active {
            color: $satColor;
          }
          &:hover {
            background: #222;
            cursor: pointer;
          }
        }
      }
    }
  }
}
























.panelBox {
  width: 250px;
  padding: 15px 20px 10px;
  background: #2a2a2a;
  position: absolute;
  top: 60px;
  color: white;
  font-size: 1.3em;
  @include box-shadow(0px 9px 25px -10px #2a2a2a);
  //+border-radius(3px)
  &:before {
    content: "";
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 7px solid #2a2a2a;
    position: absolute;
    top: -7px;
    right: 10px;
  }
  .infoTitle {
    font-weight: bold;
  }
  .info {
    width: 100px;
  }
}

#panelInfo {
  right: 106px;
  div {
    width: 90px;
    float: left;
    margin: 0 0 10px 0;
  }
}

#panelSave {
  right: 60px;
  padding: 5px 10px 2px;
  input[type=text] {
    height: 35px;
    background: none;
    @include border-radius(0);
    border: 1px solid #444;
    color: white;
  }
}

#panelFiles {
  right: 17px;
  .file {
    cursor: pointer;
    display: inline-block;
    border-bottom: 1px solid #444;
    margin: 0 0 2px 0;
    width: 220px;
    padding: 4px;
    position: relative;
    font-size: 16px;
    &:hover {
      background: $satColor;
    }
  }
  .remove_save {
    display: inline-block;
    border-bottom: 1px solid #444;
    padding: 4px;
    font-size: 18px;
    &:hover {
      background: $satColor;
      cursor: pointer;
    }
  }
}