.info-panel {
  background: $backgroundColorDarker;
  color: $textColor;
  .content {
    padding: 1em;
    font-size: 1.3em;
    line-height: 1.4em;
  }
}

#panelRight {
  display: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  .content {
    position: absolute;
    z-index: 1000;
    width: 300px;
    overflow: auto;
    @include shadow1;
    @include border-radius(6px);
  }
}

.shmdata-info-panel {
  display: none;
  color: white;
  min-width: 300px;
  min-height: 100px;
  position: fixed;
  left: 400px;
  top: 200px;
  z-index: 10000;
  background: $backgroundColorDarker;
  @include border-radius(6px);
  @include box-shadow(rgba(black, 0.5) 0px 0px 26px -8px);

  .title {
    color: white;
    font-size: 1.4em;
    padding: 0 5px 0 20px;
    line-height: 30px;
    overflow: hidden;
    white-space: nowrap;
    background: #2a2a2a;
  }

  .content {
    .name {
      margin-bottom: 1em;
    }

    .capabilities {
      .property {
        padding-right: 1em;
        color: $textColor;
      }
      .type {
        color: $textColorSubtler;
      }
      .value {
        padding-left: 1em;
        color: $textColorSubtle;
      }
    }

    .capabilities-raw {
      width: 100%;
      margin-top: 1em;
      height: 100px;
    }
  }
}

.close {
  background: $backgroundColor;
  padding: 0 8px;
  height: 30px;
  line-height: 30px;
  float: right;
  color: white;
  position: absolute;
  right: 0;
  top: 0;
  font-weight: bold;
  z-index: 100;
  font-size: 1.4em;
  cursor: pointer;
  &:hover {
    background: $satColor;
  }
}

.setMethod, .sendProperty {
  padding: 11px 10px;
  background: #444;
  color: white;
  text-decoration: none;
  margin: 0 0 0 5px;
  border-radius: 2px;
  border: none;
  cursor: pointer;
  &:hover {
    background: #555;
  }
}

.mapInput {
  width: 60px !important;
  padding: 0 5px !important;
  height: 27px !important;
}

.removeModifier {
  float: right;
  font-size: 1.6em;
  font-family: arial;
  width: 15px;
  height: 15px;
  margin: 0 0 5px 0;
  font-weight: bold;
  &:hover {
    cursor: pointer;
    color: $satColor;
  }
}

.delete {
  color: $satColor;
  float: left;
  margin: 5px 0;
  font-size: 1.2em;
  text-decoration: none;
  &:hover {
    border-bottom: 1px $satColor dashed;
  }
}

.preview-value .content-value {
  position: absolute;
  width: 30px;
  padding: 8px 0;
  @include border-radius(0 3px 3px 0);
  text-align: center;
  top: 40px;
  right: 72px;
  border: 1px #343434 solid;
  z-index: 100;
  background: #333;
  color: white;
}

#panelRight input[type=text],
.shmdata-info-panel input[type=text] {
  background: $backgroundColorDark;
  border: none;
  color: white;
  &:focus {
    border: lighten($backgroundColorDark, 15%) solid 1px;
  }
}