#panelRight {
  display: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  .content {
    background: $colorBg3;
    color: $colorText;
    position: absolute;
    right: 20px;
    top: 60px;
    z-index: 1000;
    width: 300px;
    overflow: auto;
    padding: 40px 20px 20px;
    margin: 50px 10px;
    display: block;
    @include box-shadow(rgba(black, 0.5) 0px 0px 26px -8px);
    @include border-radius(6px);
  }
}

.panelInfoSource {
  display: none;
  color: white;
  min-width: 300px;
  min-height: 100px;
  padding: 0 15px 15px 0;
  position: fixed;
  left: 400px;
  top: 200px;
  z-index: 10000;
  background: $colorBg3;
  @include border-radius(6px);
  @include box-shadow(rgba(black, 0.5) 0px 0px 26px -8px);
  .content {
    margin: 40px 0 0 10px;
    font-size: 1.3em;
    line-height: 1.4em;
  }
}

#title, .title {
  position: absolute;
  color: white;
  font-size: 1.4em;
  padding: 0 5px 0 20px;
  height: 30px;
  line-height: 30px;
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  white-space: nowrap;
}

.close {
  background: $colorBg1;
  padding: 0 8px;
  height: 30px;
  line-height: 30px;
  float: right;
  color: white;
  position: absolute;
  right: 0;
  top: 0;
  font-weight: bold;
  z-index: 100;
  font-size: 1.4em;
  cursor: pointer;
  &:hover {
    background: $colorSat;
  }
}

.setMethod, .sendProperty {
  padding: 11px 10px;
  background: #444;
  color: white;
  text-decoration: none;
  margin: 0 0 0 5px;
  border-radius: 2px;
  border: none;
  cursor: pointer;
  &:hover {
    background: #555;
  }
}

.mapInput {
  width: 60px !important;
  padding: 0 5px !important;
  height: 27px !important;
}

.removeModifier {
  float: right;
  font-size: 1.6em;
  font-family: arial;
  width: 15px;
  height: 15px;
  margin: 0 0 5px 0;
  font-weight: bold;
  &:hover {
    cursor: pointer;
    color: $colorSat;
  }
}

.delete {
  color: $colorSat;
  float: left;
  margin: 5px 0;
  font-size: 1.2em;
  text-decoration: none;
  &:hover {
    border-bottom: 1px $colorSat dashed;
  }
}

.preview-value .content-value {
  position: absolute;
  width: 30px;
  padding: 8px 0;
  @include border-radius(0 3px 3px 0);
  text-align: center;
  top: 40px;
  right: 72px;
  border: 1px #343434 solid;
  z-index: 100;
  background: #333;
  color: white;
}

#panelRight #title, #panelRight .title, .panelInfoSource #title, .panelInfoSource .title {
  background: #2a2a2a !important;
}

#panelRight input[type=text], .panelInfoSource input[type=text] {
  background: $colorBg2;
  border-color: $colorBg2;
  outline-color: #ddd;
  color: white;
}