$sizeBulle: 12px;

.countMsgIrc {
  background: $colorSat;
  text-align: center;
  font-size: 0.8em;
  position: absolute;
  color: white;
  top: -4px;
  right: 5px;
  //width : $sizeBulle
  padding: 1px 3px 0 3px;
  height: $sizeBulle;
  line-height: $sizeBulle;
  @include border-radius($sizeBulle);
  display: none;
}

.channel {
  .countMsgIrc {
    right: 4px;
    left: inherit;
    top: 9px;
  }
}

#chat {
  width: 350px;
  height: 440px;
  position: fixed;
  left: 70px;
  bottom: 20px;
  display: none;
  @include borderStyle;
  .title {
    cursor: move;
  }
  &.headerMenu {
    li {
      float: left;
      font-size: 1.2em;
      border-left: none;
      padding-right: 20px;
    }
  }
  .active {
    background: #fcfcfc;
    color: #333;
    &:hover {
      background: #fcfcfc !important;
      color: #333 !important;
    }
  }
  .btnCreate {
    text-transform: uppercase;
  }
  #list-names {
    left: inherit;
    right: 0;
  }
  .info {
    font-size: 1.4em;
    color: #777;
    width: 300px;
    margin: 20px auto;
    line-height: 1.2em;
  }
  #login {
    //display : none
    font-size: 1.2em;
    color: #777;
    position: relative;
    text-align: center;
    left: 0;
    right: 0;
    top: 120px;
  }
  #loading {
    background: url(../../images/loading2.gif) no-repeat 35px bottom;
    height: 30px;
    width: 200px;
    margin: 0 auto;
  }
  .title {
    cursor: move;
  }
  .headerMenu {
    li {
      float: left;
      font-size: 1.2em;
      border-left: none;
      padding-right: 20px;
    }
    .active {
      background: #fcfcfc;
      color: #333;
      &:hover {
        background: #fcfcfc !important;
        color: #333 !important;
      }
    }
    .btnCreate {
      text-transform: uppercase;
    }
  }
  #list-names {
    left: inherit;
    right: 0;
  }
  .info {
    font-size: 1.4em;
    color: #777;
    width: 300px;
    margin: 20px auto;
    line-height: 1.2em;
  }
  #login {
    //display : none
    font-size: 1.2em;
    color: #777;
    position: relative;
    text-align: center;
    left: 0;
    right: 0;
    top: 120px;
    #loading {
      background: url(../../images/loading2.gif) no-repeat 35px bottom;
      height: 30px;
      width: 200px;
      margin: 0 auto;
    }
  }
  input[type=text] {
    width: inherit;
    text-align: center;
  }
  #input-msg {
    position: relative;
    input[type=text] {
      width: 360px;
      text-align: left;
    }
    #userPrivate {
      position: absolute;
      top: 0;
      background: $colorSat;
      color: white;
      height: 23px;
      line-height: 21px;
      padding: 0 5px 0 20px;
      margin: 7px 0 0 2px;
      border-radius: 4px 0 0 4px;
      font-size: 1.2em;
    }
    #remove-userPrivate {
      width: 10px;
      height: 10px;
      position: absolute;
      top: 7px;
      left: 6px;
      background: white;
      color: $colorSat;
      line-height: 8px;
      text-align: center;
      @include border-radius(5px);
      opacity: 0.4;
      &:hover {
        opacity: 1;
        cursor: pointer;
      }
    }
  }
  input[type=submit] {
    width: inherit;
    height: 30px;
    padding-left: 40px;
    padding-right: 40px;
    &:hover {
      background: $colorSat;
      cursor: pointer;
    }
  }
  #connect-chat {
    display: none;
  }
  #channels {
    position: relative;
    height: 570px;
    margin-top: 30px;
    display: none;
    .channel {
      text-align: left;
      display: block;
      height: 570px;
      overflow-y: auto;
      font-size: 1.2em;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      .content-channel {
        height: 368px;
        background: #fcfcfc;
        overflow: auto;
        padding: 10px 0 0 0;
      }
      .msg {
        margin: 0 0 5px 10px;
        position: relative;
        float: left;
        .user {
          color: #888;
          float: left;
          position: relative;
          //width : 70px
          margin: 0 0 0px 0;
          &:hover {
            color: $colorSat;
            cursor: pointer;
          }
        }
        .text {
          float: left;
          width: 320px;
          line-height: 1.3em;
          padding: 0 0 5px 0px;
          border-bottom: 1px #eee solid;
          .msgPrivate {
            float: left;
            border: 1px solid $colorSat;
            color: $colorSat;
            font-size: 0.9em;
            padding: 0px 4px;
            height: 13px;
            line-height: 11px;
            margin: 0 6px 0 0;
            @include border-radius(3px);
          }
        }
      }
      .bottom-channel {
        width: 100%;
        height: 31px;
        background: #fcfcfc;
        border-top: 1px solid #ddd;
        .your-user {
          float: left;
          padding: 0 10px 0 0;
          vertical-align: middle;
          text-align: right;
          font-size: 1.1em;
          color: #888;
          width: 110px;
          line-height: 30px;
          display: none;
        }
        input[type=text] {
          height: 100%;
          width: 280px;
          text-align: left;
          padding: 0 10px;
          @include border-radius(0px);
          border-top: none;
          border-bottom: none;
          margin: 0;
          float: left;
          @include box-shadow(rgba(#ddd, 0.8) 0 0 8px inset);
        }
        .list-connected {
          position: absolute;
          background: #333;
          padding: 10px;
          color: white;
          bottom: 31px;
          right: 0;
          line-height: 20px;
          display: none;
        }
        .nb-connected {
          font-weight: bold;
        }
        .connected {
          padding: 0 10px 0 0;
          text-align: right;
          width: 38px;
          float: left;
          line-height: 31px;
          color: #888;
          background: url(../../images/icon-connected.png) no-repeat 9px 9px;
          position: relative;
          &:hover {
            background-color: #333;
            color: white;
            cursor: pointer;
            background-position: 9px -35px;
            .list-connected {
              display: block;
            }
          }
        }
      }
    }
  }
}