$leftHeaderWidth: 125px;
$leftHeaderMinHeight: 40px;
$boxWidth: $leftHeaderWidth;
$boxMinHeight: $leftHeaderMinHeight;
$quiddityGap: 2px;

.table {
  float: left;
  margin: 25px 0 0 50px;

  .sources-title {
    position: absolute;
    top: 135px;
    color: $textColor;
    text-transform: uppercase;
    font-size: 1.25em;
    transform: rotate(270deg);
    transform-origin: left top 0;
    left: 20px;
  }

  .destinations-title {
    position: absolute;
    left: 200px;
    top: $leftHeaderMinHeight;
    color: $textColor;
    text-transform: uppercase;
    font-size: 1.25em;
  }

  .controls .name,
  .shmdatas .name,
  .destination .name {
    width: 100%;
    height: 100%;
    color: $textColorBrighter;
    text-align: center;
  }

  .controls {
    position: relative;
    width: $boxWidth;
    height: $boxMinHeight;

    .name {
      position: absolute;
      white-space: normal;
      word-break: break-all;
      display: table;
      >span {
        display: table-cell;
        vertical-align: middle;
        padding: 0 1em;
      }
    }
    .actions {
      position: absolute;
      width: 100%;
      height: 100%;
      background: $backgroundColorDarker;
      opacity: 0;

      &:hover {
        opacity: 0.8;
      }

      .action {
        float: left;
        width: 50%;
        height: $leftHeaderMinHeight;
        opacity: 0.8;
        cursor: pointer;

        &:hover {
          opacity: 1.0;
        }

        .icon {
          width: 100%;
          height: 100%
        }

        &.info {
          width: 100%;
          &:hover {
            background: $blue;
          }
          .icon {
            background: url(../../icons/724-info.png) center center no-repeat;
          }
        }
        &.edit {
          &:hover {
            background: $orange;
          }
          .icon {
            background: url(../../icons/740-gear.png) center center no-repeat;
          }
        }
        &.remove {
          &:hover {
            background: $satColor;
          }
          .icon {
            background: url(../../icons/711-trash.png) center center no-repeat;
          }
        }
      }
    }
  }

  .quiddity {
    margin-bottom: 6px;
    background: $backgroundColorDark;

    .controls {
      width: $leftHeaderWidth;
      min-height: $leftHeaderMinHeight;
    }

    .shmdatas {
      display: inline-block;

      .shmdata {
        background: $backgroundColorDark;
        height: $leftHeaderMinHeight;
        border-left: $quiddityGap solid $colorBorder;
        border-bottom: 1px solid $colorBorder;

        .controls {
          &:before {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0px;
            left: -2px;
            width: 2px;
            background: $satColor;
          }
        }

        &.active .controls:before {
          background: $green;
        }

        &.sip {
          .controls {
            .user {
              color: $textColorBrighter;
              font-weight: bold;
              background-color: #2c2c2c;
              padding: 5px 1em;
            }
            .name {
              position: relative;
              padding: 0.25em 0;
            }
          }
        }

        .connections {
          position: relative;
          display: inline-block;
          .connection {
            position: relative;
            display: inline-block;
            margin-bottom: -3px;
            width: $boxWidth;
            height: $boxMinHeight;
            border-left: 1px solid $colorBorder;

            .icon {
              position: absolute;
              width: 100%;
              height: 100%;
              opacity: 0.25;
            }
            &.enabled {
              cursor: pointer;
              background: $backgroundColorDark;
              &.active {
                background: $backgroundColorDarker;
                &:hover {
                  background: $red url(../../icons/x.png) no-repeat center;
                }
                .icon {
                  background: url(../../icons/1093-lightning-bolt-2.png) center no-repeat;
                }
              }
              &.inactive {
                background: $backgroundColorDark;
                &:hover {
                  cursor: pointer;
                  background: $green url(../../icons/plus.png) center no-repeat;
                }
              }
            }
            &.disabled {
              cursor: not-allowed;
              background: $disabled;
            }
          }
        }

        &:last-child {
          border-bottom: none !important;
        }
      }
    }
  }

  .sources {
    float: left;
    .source {
      width: $boxWidth;
      white-space: nowrap;
      .controls {
        display: inline-block;
        vertical-align: top;
        margin-right: -2.5px;
      }
    }
  }

  .destinations {
    height: $boxMinHeight;
    margin: 0 10px 10px $leftHeaderWidth * 2 + $quiddityGap;
    white-space: nowrap;

    .destination {
      display: inline-block;
      width: $boxWidth;
      background: $backgroundColorDark;
      border-left: 1px solid $colorBorder;

      .controls {
        .actions {
          .action {
            .checkbox {
              margin: 8px;
            }
          }
        }
      }

      .status {
        width: 100%;
        height: 2px;
        position: absolute;
        bottom: 0;
        z-index: 10;
        &.disconnected {
          background: $satColor;
        }
        &.wait {
          background: $orange;
        }
        &.calling {
          background: $green;
        }
      }
    }
  }

  // RTP

  &.rtp {
    .connection {
      .port {
        position: absolute;
        width: 100%;
        height: 100%;
        display: table;
        > span {
          display: table-cell;
          vertical-align: middle;
          text-align: center;
          font-size: 2em;
          color: $textColorBrighter;
        }
      }
      .portEntry {
        position: absolute;
        width: 100%;
        height: 100%;
        background: $backgroundColorDark;
        .portInput {
          background: none;
          border: none;
          color: $textColorBrighter;
          border-radius: 0;
          margin: 0;
          width: 100%;
          height: 100%;
          text-align: center;
          font-size: 2em;
        }
      }
    }
  }

  // SIP

  &.sip {
    .contacts {
      position: fixed;
      width: $contactsWidth;
      top: $headerHeight;
      bottom: 0;
      right: 0;
      background: $backgroundColorDarker;
      overflow-y: auto;
      @include box-shadow(0px 0px 10px 0px rgba(0,0,0,0.25));
    }

    .login {
      padding: 2em;
      color: $textColor;

      #sipLogin {
        width: 100%;
        padding: 1em;
      }
    }
  }
}