$leftHeaderWidth: 125px;
$leftHeaderMinHeight: 50px;
$boxWidth: $leftHeaderWidth;
$boxMinHeight: $leftHeaderMinHeight;
$quiddityGap: 2px;

.table {
  margin: 25px 0 0 50px;
  position: relative;

  .sources-title {
    position: absolute;
    color: $textColor;
    text-transform: uppercase;
    font-size: 1.25em;
    transform: rotate(270deg);
    transform-origin: bottom right;
    top: 50px;
    left: -72px;
  }

  .destinations-title {
    position: absolute;
    left: 150px;
    top: 15px;
    color: $textColor;
    text-transform: uppercase;
    font-size: 1.25em;
  }


  .controls {
    display: table-cell;
    position: relative;
    vertical-align: middle;

    .info {
      position: absolute;
      width: 100%;
      height: 100%;
      color: $textColorBrighter;
      text-align: center;
      white-space: normal;
      word-break: break-word;
      vertical-align: middle;
      padding: 1em;
      .class {
        font-weight: bold;
        display: block;
      }
      .name {
        display: block;
        color: $textColor;
      }
    }
    .actions {
      position: absolute;
      left: 0;
      width: 100%;
      height: 100%;
      background: $backgroundColorDarker;
      opacity: 0;

      &:hover {
        opacity: 0.8;
      }

      .action {
        float: left;
        width: 50%;
        height: 100%;
        opacity: 0.8;
        cursor: pointer;

        &:hover {
          opacity: 1.0;
        }

        .icon {
          width: 100%;
          height: 100%
        }

        &.more {
          width: 100%;
          &:hover {
            background: $blue;
          }
          .icon {
            background: url(../../icons/724-info.png) center center no-repeat;
          }
        }
        &.edit {
          &:hover {
            background: $orange;
          }
          .icon {
            background: url(../../icons/740-gear.png) center center no-repeat;
          }
        }
        &.remove {
          &:hover {
            background: $satColor;
          }
          .icon {
            background: url(../../icons/711-trash.png) center center no-repeat;
          }
        }
      }
    }
  }

  .quiddity {
    background: $backgroundColorDark;
    min-height: $boxMinHeight;

    .shmdatas {
      display: table-cell;

      .shmdata {
        display: table;
        background: $backgroundColorDarkish;
        height: $leftHeaderMinHeight;
        border-left: $quiddityGap solid $colorBorder;
        border-bottom: 1px solid $colorBorder;

        .controls {
          &:before {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0px;
            left: -2px;
            width: 2px;
            background: $satColor;
          }
        }

        &.active .controls:before {
          background: $green;
        }

        &.sip {
          .controls {
            .user {
              color: $textColorBrighter;
              font-weight: bold;
              background-color: #2c2c2c;
              padding: 5px 1em;
            }
            .info {
              position: relative;
              padding: 0.25em 0;
            }
          }
        }

        .connections {
          display: table;

          .connection {
            display: table-cell;
            width: $boxWidth;
            height: $boxMinHeight;
            border-left: 1px solid $colorBorder;

            .icon {
              position: absolute;
              width: 100%;
              height: 100%;
              opacity: 0.25;
            }
            &.enabled {
              cursor: pointer;
              background: $backgroundColorDark;
              &.active {
                background: $backgroundColorDarker;
                &:hover {
                  background: $red url(../../icons/x.png) no-repeat center;
                }
                .icon {
                  background: url(../../icons/1093-lightning-bolt-2.png) center no-repeat;
                }
              }
              &.inactive {
                background: $backgroundColorDark;
                &:hover {
                  cursor: pointer;
                  background: $green url(../../icons/plus.png) center no-repeat;
                }
              }
            }
            &.disabled {
              cursor: not-allowed;
              background: $disabled;
            }
          }
        }

        &:last-child {
          border-bottom: none !important;
        }
      }
    }
  }

  .sources {
    .source {
      display: table;
      margin-bottom: 6px;
      white-space: nowrap;
      .controls {
        width: $boxWidth;
        vertical-align: top;
        .info {
          text-align: left;
        }
      }
    }
  }

  .destinations {
    display: table;
    height: $boxMinHeight + 10px;
    margin: 0 10px 10px $leftHeaderWidth * 2 + $quiddityGap;
    padding-bottom: 10px;
    white-space: nowrap;
    border-bottom: 1px solid $textColorSubtle;
    min-width: 100%;

    .destination {
      display: table-cell;//inline-block;
      width: $boxWidth;
      background: $backgroundColorDark;
      border-left: 1px solid $colorBorder;
      overflow: hidden;

      .controls {
        .info {
          text-align: center;
        }
        .actions {
          .action {
            .checkbox {
              margin: 8px;
            }
          }
        }
      }

      .status {
        width: 100%;
        height: 2px;
        position: absolute;
        bottom: 0;
        z-index: 10;
        &.disconnected {
          background: $satColor;
        }
        &.wait {
          background: $orange;
        }
        &.calling {
          background: $green;
        }
      }
    }
  }

  // RTP

  &.rtp {
    .connection {
      .port {
        position: absolute;
        width: 100%;
        height: 100%;
        display: table;
        > span {
          display: table-cell;
          vertical-align: middle;
          text-align: center;
          font-size: 2em;
          color: $textColorBrighter;
        }
      }
      .portEntry {
        position: absolute;
        width: 100%;
        height: 100%;
        background: $backgroundColorDark;
        .portInput {
          background: none;
          border: none;
          color: $textColorBrighter;
          border-radius: 0;
          margin: 0;
          width: 100%;
          height: 100%;
          text-align: center;
          font-size: 2em;
        }
      }
    }
  }

  // SIP

  &.sip {
    .sip-panel {
      position: fixed;
      width: $contactsWidth;
      top: $headerHeight;
      bottom: 0;
      right: 0;
      background: $backgroundColorDarker;
      overflow-y: auto;
      overflow-x: hidden;
      @include box-shadow(0px 0px 10px 0px rgba(0,0,0,0.25));
    }

    .login {
      padding: 2em;
      color: $textColor;

      #sipLogin {
        width: 100%;
        padding: 1em;
      }
    }
  }
}