<div id="subMenu" >
  <% if(type == "classes") { %>
    <% _.each(classes, function(category, name){ %>
      <div class="menuHeading"><%=name%></div>
      <div class="menuButtons">
        <% _.each(category, function(clas) { %>
          <% var autoDetect = _.contains(config.deviceAutoDetect, clas["class name"]); %>
          <a class="createQuidd <% if(autoDetect){ %> autoDetect<% } %>" data-name="<%=clas['class name']%>" data-quiddname="<%=clas['long name']%>">
            <%=clas["long name"]%>
          </a>
      <% }); %>
      </div>
    <% }) %>
  <% } else if ( type == "QuiddsAndProperties" ) { %>
    <% _.each(menus, function(menu, name){ %>
      <div class="menuHeading"><%=name%></div>
      <div class="menuButtons" data-quiddname="<%=name%>">
        <% _.each(menu, function(property) { %>
          <a class="createControlProperty" data-property="<%=property%>" href="#"><%=property%></a>
        <% }); %>
      </div>
    <% }); %>
  <% } %>
</div>