<div id="subMenu" >
    <% if(type == "classes") { %>
    <% _.each(classes, function(classes, category){ %>
    <div class="menuHeading"><%=category%></div>
    <div class="menuButtons">
        <% _.each(classes, function(quiddityClass) { %>
        <a class="create" data-name="<%=quiddityClass.get('class name')%>"><%=quiddityClass.get("long name")%></a>
        <% }); %>
    </div>
    <% }) %>
    <% } else if ( type == "QuiddsAndProperties" ) { %>
    <% _.each(menus, function(menu, name){ %>
    <div class="menuHeading"><%=name%></div>
    <div class="menuButtons" data-quiddname="<%=name%>">
        <% _.each(menu, function(property) { %>
        <a class="createControlProperty" data-property="<%=property%>" href="#"><%=property%></a>
        <% }); %>
    </div>
    <% }); %>
    <% } %>
</div>