<div class="controls">
    <div class="info"><span class="class"><%=id%></span><span class="name"><%=classDescription.name%></span></div>
    <div class="actions actions-<% if ( startable ) { %>3<% } else { %>2<% } %>">
        <% if ( startable ) { %>
        <div class="action power power-source<% if ( started ) {%> on<% } %>">
            <div class="icon"></div>
        </div>
        <% } %>
        <div class="action edit edit-source">
            <div class="icon"></div>
        </div>
        <div class="action remove remove-source">
            <div class="icon"></div>
        </div>
    </div>
</div>
<div class="source-children"></div>