.inspector {
  z-index: 40;
}

.info-panel {
  display: none;
  top: $sessionsHeight + $headerHeight + 20px;
  right: 20px;
  width: 300px;
  background: $backgroundColorDarker;
  color: $textColor;
  min-width: 300px;
  min-height: 100px;
  position: fixed;
  overflow: hidden;
  @include border-radius(6px);
  @include box-shadow(rgba(black, 0.5) 0px 0px 26px -8px);

  .sip & {
    right: $contactsWidth + 20px;
  }

  .title {
    color: white;
    font-size: 1.4em;
    padding: 0 5px 0 20px;
    line-height: 30px;
    overflow: hidden;
    white-space: nowrap;
    background: #2a2a2a;
  }

  .content {
    overflow: auto;
    padding: 20px;
    line-height: 1.4em;
    max-height: 600px;
  }

  .close {
    background: $backgroundColor;
    padding: 0 8px;
    height: 30px;
    line-height: 30px;
    float: right;
    color: white;
    position: absolute;
    right: 0;
    top: 0;
    font-weight: bold;
    font-size: 1.4em;
    cursor: pointer;
    &:hover {
      background: $satColor;
    }
  }

  .shmdata-info {
    .name {
      margin-bottom: 1em;
    }
    .capabilities {
      .property {
        padding-right: 1em;
        color: $textColor;
      }
      .type {
        color: $textColorSubtler;
      }
      .value {
        padding-left: 1em;
        color: $textColorSubtle;
      }
    }

    .capabilities-raw {
      width: 100%;
      margin-top: 1em;
      height: 100px;
    }
  }
}

.properties, .methods {
  @include clearfix;
}

.property-form,
.method {
  position: relative;
  margin-bottom: 0.5em;
  @include clearfix;
  border-bottom: 1px solid lighten($backgroundColorDarker, 5%);
  padding-bottom: 1em;
  label {
    font-size: 1.25em;
  }
  .description {
    margin-bottom: 0.5em;
    color: $textColorSubtle;
  }

  &.bool {
    .info {
      float: left;
    }
    .field {
      position: absolute;
      top: 50%;
      right: 0;
      margin-top: -16px;
    }
  }

  &.number {
    .ui-slider {
      width: 65%;
      @include border-radius( 5px 0 0 5px);
      .ui-slider-range {
        @include border-radius( 5px 0 0 5px);
      }
    }
    input {
      float: left;
      width: 35%;
      border-left: 1px solid $backgroundColorDarker;
      text-align: center;
      @include border-radius( 0 5px 5px 0);
      &:focus {
        border: lighten($backgroundColorDark, 15%) solid 1px;
      }
    }
  }

  &.string {
    input {
      float: left;
      width: 65%;
      border-right: 1px solid $backgroundColorDarker;
      @include border-radius(5px 0 0 5px);
      &:focus {
        border: lighten($backgroundColorDark, 15%) solid 1px;
      }
    }
    .btn {
      margin: 0;
      float: left;
      width: 35%;
      padding: 4px;
      height: 24px;
      @include border-radius( 0 5px 5px 0);
    }
  }

  input {
    height: 24px;
    margin: 0;
  }
}

.method {
  .argument {
    margin-bottom: 1px;
    .info {
      margin: 0;
      padding: 0.25em 0.5em 0.25em 0.5em;
      color: $textColor;
      background-color: $backgroundColorDarkish;
      border-bottom: 1px solid $backgroundColorDarker;
      .name {
        font-weight: 600;
        color: $textColorBright;
      }
      .type {
        font-style: italic;
        color: $textColorSubtle;
      }
      .description {
        color: $textColor;
      }
    }
    &:first-child {
      .info {
        @include border-radius(5px 5px 0 0);
      }
    }

    input {
      @include border-radius(0);
    }
  }
  .btn.invoke {
    margin: 0;
    @include border-radius(0 0 5px 5px);
  }
}