.menu {
  .panel {
    position: fixed;
    right: 0;
    top: $sessionsHeight + $headerHeight;
    padding-top: 1em;
    background: $backgroundColorDarker;
    color: $textColor;
    min-width: 300px;

    .title {
      padding: 0.5em;
      font-size: 2em;
      color: $textColorBrighter;
      margin-bottom: 0.5em;
    }

    .file-open {
      .files {
        max-height: 300px;
        overflow-y: auto;
        overflow-x: hidden;
        .file {
          position: relative;
          padding: 1em;
          overflow: hidden;
          &:hover {
            background: $blue;
            .file-info {
              .name,
              .date {
                color: $textColorDark;
              }
            }
          }
          .file-info {
            float: left;
            margin-right: 1em;
            .name {
              font-size: 1.5em;
              margin-bottom: 0.5em;
              a {
                cursor: default;
              }
            }
            .date {
              color: $textColorSubtle;
              cursor: default;
            }
          }
          .remove {
            cursor: default;
            height: 100%;
            position: absolute;
            right: 0;
            top : 0;
            width: 40px;
            &:hover {
              border-left: 1px solid $backgroundColorDarker;
              background-color: $red;
            }
            .icon {
              position: absolute;
              top: 50%;
              margin-top: -7px;
              right: 12px;
              width: 14px;
              height: 14px;
              background: image-url('icons/x-small.png') no-repeat;
            }
          }
        }
      }
    }

    .file-save-as {
      .panel-content {
        padding: 2em;
      }
    }
  }
}