#page {
  position: absolute;
  left: $tabsWidth;
  top: $headerHeight;
  bottom: 0;
  right: 0;
  overflow: auto;

  .menus {
    border-bottom-color: black;
    position: fixed;
    z-index: 30;
    left: $tabsWidth;
    top: 0px;
    height: 40px;
    margin: 12px 12px 8px 24px;
    padding: 0;
    cursor: move;
    .menu {
      float: left;
      margin-right: 10px;
      font-size: 1.2em;
      background: #444;
      @include box-shadow(rgba(black, 0.5) 0px 0px 26px -8px);
      border: none;
      color: #ccc;
      text-transform: uppercase;
      &:hover {
        color: white;
        background: #484848;
      }
      .button {
        padding: 6px 15px 5px 32px;
        display: inline-block;
        color: #ccc;
        line-height: 25px;
        cursor: pointer;
        font-size: 12px;
        letter-spacing: 0.08em;
        background: image-url('icons/arrow-down-small.png') no-repeat 8px;
        &:hover {
          color: white;
          background-color: #484848;
        }
      }
    }
    .filter {
      width: 200px;
      height: 36px;
      float: left;
      opacity: 0.5;
      &:hover {
        opacity: 1;
      }
      .ui-selectmenu-button {
        height: 100%;
        width: 100% !important;
      }
    }
  }
}

.overlay {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  cursor: default;
}

#sub-menu {
  position: absolute;
  width: 180px;
  float: left;
  top: 36px;
  background-color: #333;
  margin-right: 10px;
  @include shadow1;
  border: none;
  color: $textColor;
  text-transform: uppercase;
  .group {
    display: block;
    background: $backgroundColorDarker;
    margin: 0;
    outline: none;
    &:not(:last-child) {
      border-bottom: darken($backgroundColorDarker, 2%) 1px solid;
    }
    &:last-child {
      border-bottom: none;
    }
  }
  .items {
    padding: 0;
    height: auto;
    .item {
      text-decoration: none;
      position: relative;
      display: block;
      color: #b3b3b3;
      background: #323232;
      border: 0;
      &:hover {
        background: $blue;
        color: $textColorDark;
      }
    }
  }
}

.sip #page {
  right: $contactsWidth;
}