$sourceWidth: 125px;
$shmdataWidth: 125px;
$shmdataGap: 2px;

$rowMinHeight: 50px;
$boxWidth: $sourceWidth;
//$boxMinHeight: $rowMinHeight;

.table {

  .title {
    font-weight: 100;
    font-size: 3em;
    position: absolute;
    left: 0;
    bottom: 18px;
    color: $textColorBrighter;
  }

  .matrix {
    display: inline-block;
    margin: 25px 25px 25px 50px;

    .heading {
      position: absolute;
      color: $textColor;
      text-transform: uppercase;
      font-size: 1.25em;
    }

    .destinations-row {
      position: relative;
      min-height: $rowMinHeight + 11px;
      margin-bottom: 10px;
      border-bottom: 1px solid $textColorSubtle;
      padding-bottom: 10px;

      .heading {
        left: 155px;
        bottom: 10px;
      }

      .destinations {
        margin-left: $sourceWidth + $shmdataGap + $shmdataWidth;

        .info {
          text-align: center;
        }

        .destination-list {
          display: table;

          .destination {
            display: table-cell;
            position: relative;
            vertical-align: middle;
            border-left: 1px solid $backgroundColor;
            background: $backgroundColorDark;

            .controls {
              width: $boxWidth;
              min-height: $rowMinHeight;
            }
          }
        }
      }
    }

    .sources-row {
      position: relative;

      .heading {
        transform: rotate(270deg);
        transform-origin: right;
        left: -80px;
        top: 0;
      }

      .sources {

        .source-list {
          overflow: hidden;

          .source {
            position: relative;
            margin-bottom: 1em;
            background: $backgroundColorDark;

            .controls {
              width: $sourceWidth;
              position: absolute;
              height: 100%;
            }

            .source-children {
              min-height: $rowMinHeight;
              margin-left: $sourceWidth;
              background-color: $backgroundColor;

              .source-child {
                position: relative;
                background: $backgroundColorDarkish;
                border-left: 1px solid $backgroundColor;
                &.shmdata {
                  border-left: $shmdataGap solid $red;
                  &.active {
                    border-left: $shmdataGap solid $green;
                  }
                }

                &:not(:last-child) {
                  margin-bottom: 1px;
                }

                .controls {
                  display: table;
                  width: $shmdataWidth;
                  height: $rowMinHeight;

                  .info {
                    display: table-cell;
                    vertical-align: middle;
                  }
                }

                .connections {
                  display: table;
                  height: $rowMinHeight;
                  margin-left: $shmdataWidth;

                  .connection {
                    display: table-cell;
                    border-left: 1px solid $backgroundColor;

                    &.enabled {
                      cursor: pointer;
                      background: $backgroundColorDark;

                      .actions {
                        opacity: 1.0;
                      }

                      &.active .action.connect {
                        background: $backgroundColorDarker;
                        &:hover {
                          background: $red image-url('icons/x.png') no-repeat center;
                        }
                        .icon {
                          background: image-url('icons/1093-lightning-bolt-2.png') center no-repeat;
                        }
                      }
                      &.inactive {
                        .action.edit {
                          display: none;
                        }
                        .action.connect {
                          width: 100%;
                          background: $backgroundColorDark;
                          &:hover {
                            cursor: pointer;
                            background: $green image-url('icons/plus.png') center no-repeat;
                          }
                        }
                      }
                    }

                    &.disabled {
                      cursor: not-allowed;
                      background: $disabled;
                    }

                    .controls {
                      position: relative;
                      height: 100%;
                    }

                    .icon {
                      opacity: 0.65;
                    }
                  }
                }
              }
            }

            .source-contacts {
              .contact {
                &:not(:last-child) {
                  margin-bottom: 1px;
                }
                .contact-info {
                  background-color: $backgroundColorDark;
                  margin-bottom: 1px;
                }
                .shmdatas {
                  margin-left: 0;
                }
              }
            }
          }
        }
      }
    }

    .heading {
      //display: table-cell;
    }

    .box {
    }

    .controls {
      //width: $boxWidth;
    }

    .info {
      word-break: break-all;
      padding: 1em;
      .class {
        font-weight: bold;
        display: block;
        color: $textColorBrighter;
      }
      .name {
        display: block;
        color: $textColor;
      }
    }

    .actions {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: $backgroundColorDarker;
      opacity: 0;

      &:hover {
        opacity: 0.8;
      }

      .action {
        float: left;
        width: 50%;
        height: 100%;
        opacity: 0.8;
        cursor: pointer;

        &:hover {
          opacity: 1.0;
        }

        .icon {
          width: 100%;
          height: 100%
        }

        &.more {
          width: 100%;
          &:hover {
            background: $blue;
          }
          .icon {
            background: image-url('icons/724-info.png') center center no-repeat;
          }
        }
        &.power {
          &:hover {
            background: $green;
            &.on {
              background: $red;
            }
          }
          .icon {
            background: image-url('icons/51-power.png') center center no-repeat;
          }
        }
        &.edit {
          &:hover {
            background: $orange;
          }
          .icon {
            background: image-url('icons/740-gear.png') center center no-repeat;
          }
        }
        &.remove {
          &:hover {
            background: $red;
          }
          .icon {
            background: image-url('icons/711-trash.png') center center no-repeat;
          }
        }
      }

      &.actions-1 .action {
        width: 100%;
      }

      &.actions-2 .action {
        width: 50%;
      }

      &.actions-3 .action {
        width: 33.333%;
      }
    }

  }

  // SIP

  &.sip {
    .sip-panel {
      position: fixed;
      width: $contactsWidth;
      top: $headerHeight;
      bottom: 0;
      right: 0;
      background: $backgroundColorDarker;
      overflow-y: auto;
      overflow-x: hidden;
      @include box-shadow(0px 0px 10px 0px rgba(0, 0, 0, 0.25));
    }

    .login {
      padding: 2em;
      color: $textColor;

      #sipLogin {
        width: 100%;
        padding: 1em;
      }
    }

    .connecting {
      font-size: 2em;
      color: $textColorBrighter;
      font-weight: 300;
      top: 45%;
      position: absolute;
    }

    .actions {
      .action {
        &.call {
          &:hover {
            background: $blue;
          }
          .icon {
            background: image-url('icons/735-phone.png') center center no-repeat;
          }
        }
        &.hangup {
          &:hover {
            background: $blue;
          }
          .icon {
            background: image-url('icons/hang-up.png') center center no-repeat;
          }
        }
      }
    }

    .connected .actions .action.call,
    .disconnected .actions .action.hangup {
      display: none;
    }

    .disconnected {
      border-bottom: 2px solid $red;
    }

    .connected {
      border-bottom: 2px solid $green;
    }
  }

  // RTP

  &.rtp {
    .connection {
      .port {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: table;
        > span {
          display: table-cell;
          vertical-align: middle;
          text-align: center;
          font-size: 2em;
          color: $textColorBrighter;
        }
      }
      .portEntry {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: $backgroundColorDark;
        .portInput {
          background: none;
          border: none;
          color: $textColorBrighter;
          border-radius: 0;
          margin: 0;
          width: 100%;
          height: 100%;
          text-align: center;
          font-size: 2em;
        }
      }
    }
  }

  // CONTROL
  &.control {
    .bar-container {
      position: absolute;
      width: $shmdataWidth;
      height: $rowMinHeight;
      .bar {
        width: 0;
        height: 100%;
        background-color: $blue;
      }
    }
    .controls {
      .info {
        @include text-shadow( 1px 1px rgba(0,0,0,0.25));
        .property-name {
          font-weight: bold;
          display: block;
          color: $textColorBrighter;
        }
        .property-value {
          display: block;
          color: $textColorBright;
        }
      }
    }
  }
}