$base-font-size: 10px;
$base-line-height: 12px;

$headerHeight: 60px;
$tabsWidth: 70px;

$gray1: #f1f1f1;
$gray2: #333;
$satColor: #be2620;
$colorBorder: #3a3a3a;

$textColorBrighter: #fff;
$textColor: #aaa;
$textColorSubtle: #595959;
$textColorSubtler: #404040;

$backgroundColorLight: #4c4c4c;
$backgroundColor: #3b3b3b;
$backgroundColorDark: #333333;
$backgroundColorDarker: #222222;

$disabled: darken( $backgroundColor, 1% );
$active: $backgroundColorDarker;

$red: #bd362f;//$satColor;
$orange: #f89406;//orange;
$green: #51a351;//#01b101;
$blue: #2f96b4;//#1f9cff;

@mixin shadow1 {
  @include box-shadow( rgba(black, 0.25) 0px 0px 24px);
  @include box-shadow( rgba(black, 0.5) 0px 0px 6px);
}