<div class="close" id="close-panelRight">X</div>
<div id="title">Edit destination <%=destination.get('name')%></div>

<form id="form-destination"  onsubmit="return(false)">

	<input type="text" id="name" value="<%=destination.get('name')%>" />

	<h3 class="info" title="" >Address Client</h3>
	<input type="text" id="hostName" value="<%=destination.get('hostName')%>" />

	<h3>Port soap</h3>
	<input type="text" id="portSoap" value="<%=destination.get('portSoap')%>" placeholder="required just for server scenic" >

	<input type="submit" class="btn btn-large" value="Save"/>

</form>
