<div id="lightBox">
    <div id="launch">
            <h1>Basic configuration</h1>
            <br>
            <form id="form-config" >

                <div class="identification">
                    <label>Identification</label>
                    <input type="text" name="username" value="<%=username%>" autofocus="autofocus" >
                    <input type="password" name="pass" placeholder="password" >
                    <input type="password" name="confirmPass" placeholder="confirm password">
                    <div class="info">* if password is empty the page will not be secured</div>
                </div>

                <div class="ports">
                    <div class="port">
                        <label>Port Soap</label>
                        <input type="text" name="portSoap" value="<%=soap%>">
                    </div>
                    <div class="port">

                    </div>
                </div>

                <input type="submit" value="Valid" id="submitParam">
            </form>
        

    </div>
</div>
<div id="bgLightBox"></div>