<!-- 	<li><div class="btnCreate">SAVE</div></li> -->
<!-- 	<li><div id="btnSave">SAVE</div>
	<li><div id="btnLoadScratch">LOAD</div> -->
	<li><div class="btnCreate" id="createDestination">+ DESTINATION</div></li>
	<li><div class="btnCreate">+ SOURCE</div>
		<ul class="createSource">
			<% _.each(menu, function(sources, name){ %>
				<li ><%=name%>
					<ul>
					<% _.each(sources, function(source, name){ %>
						<li class="source" data-name="<%=source["class name"]%>"><%=source["long name"]%></li>
					<% }) %>
					</ul>
				</li>
			<% }); %>
		</ul>
	</li>
	<li><div id="btn-irc" >DISCUSSION <span  class="countMsgIrc">2</span></div></li>


		