<!-- 	<li><div class="btnCreate">SAVE</div></li> -->
<!-- 	<li><div id="btnSave">SAVE</div>
	<li><div id="btnLoadScratch">LOAD</div> -->
	<li><div class="btnCreate" id="createDestination">+ DESTINATION</div></li>
	<li><div class="btnCreate">+ SOURCE</div>
		<ul class="createSource">
			<% _.each(menu, function(category){ %>
				<li data-name="<%=category["class name"] %>"><%=category["class name"] %></li>
			<% }); %>
		</ul>
	</li>
	<li><div id="btn-irc" >DISCUSSION <span  class="countMsgIrc">2</span></div></li>