

<div class="close" id="close-panelRight">X</div>
<div id="title"><%=title%></div>

<form id="form-quidd"  data-classname="<%=quiddName%>" onsubmit="return(false)">
	<input type="hidden" id="quiddName" value="<%=quiddName%>"/>
	<ul >

		<% _.each(properties, function(property){ 
		 
			if(property["description"].writable == "true"  && property["name"] != "device"){ 
				var info = property.description["type description"];
			%>
			<li>

				<% var valueField = property.value; %>

				<% var moreInfo =  info.minimum ? "Min : "+info.minimum+" &nbsp; Max : "+info.maximum : "";  %>
				<h3 class="info" title="<%=property.description['short description']%><br><%=moreInfo%>" ><%=property.description['long name']%></h3>

				<!-- Type input for float / int and bool -->
				<% if(info.type == "float" || info.type == "int" || info.type == "double" || info.type == "string" || info.type == "uint"){ %>
				<div class="property-content">
					<div class="<%=property.name%>"></div>
					<input 
						class="property <%=info.type%> slider" 
						data-current="<%=valueField%>" 
						data-min="<%=info.minimum%>" 
						data-maximum="<%=info.maximum%>" 
						type="text" 
						value="<%=valueField%>"
						name="<%=property.name%>" 
						placeholder="value type <%=info.type%>" />
					<%  } %>
				</div>
				<!-- Radion button for boolean -->
				<% if(info.type == "boolean"){ %>
				<div class="property-content">
					<label><input class="property checkbox" type="checkbox" name="<%=property.name%>"  value="<%=valueField%>" <% if(valueField == "true"){ %> checked="checked" <% } %> > active</label>
				</div>
				<% } %>


				<!-- Dropdown for enum -->
				<% if(info.type == "enum"){ %>
				<div class="property-content">
					<select class="property" name="<%=property.name%>"
						data-current="<%=valueField%>"
						<% _.each(info.values, function(value){ %>>
		  					<option value="<%=value.value%>"  <%  if(valueField == value.name){ %>  selected="selected" <% } %>  ><%= value.name%></option>
						<% }); %>
					</select>
					<% } %>
				</div>
			</li>
			<% }  %>
		<% }); %>

		</ul>


		<% _.each(methods, function(method){ %>
			<%  if(method.name != "set_runtime" && method.name != "remove_midi_property" && method.name != "next_midi_event_to_property" && method.name != "set-sink-property" && method.name != "set-source-property"){  %>

					<div style="position:relative;">
						<h3 class="info" title="<%=method["description"]%>"><%=method["long name"]%></h3>
						<% _.each(method["arguments"], function(argument){ %>
							<div class="preview-value"></div>
							<input class="method-value" data-name="<%=method['name']%>" type="text" value="">
							<a href="#" class="setMethod btn" id="<%=method['name']%>" >Send</a>
						<% }); %> 	

					</div>
					
			<%	} %>

		<% }); %>



</form>
