<div id="close">X</div>
<div id="title"><%=title%></div>

<form id="form-lightbox" data-classname="<%=quiddName%>">
	
	<ul id="form-quidd">
		<% if(action == "create"){ %>
			<h3>Name of your source</h3> 
			<input type="text" id="quiddName" value="" placeholder="if empty, a default name will be defined">
		<% }else{ %>
			<input type="hidden" id="quiddName" value="<%=quiddName%>" placeholder="if empty, a default name will be defined">
		<% } %>
		<% _.each(properties, function(property){  %>
			<% if(property.name != "shmdata-readers" && property.name != "shmdata-writers"){ %>
			<li>

				<% var info = property.description["type description"] 
					var valueField = info["default value"];
					if(action != "create"){
						valueField = property.value;
					}
				%>

				<% var moreInfo =  info.minimum ? "Min : "+info.minimum+" &nbsp; Max : "+info.maximum : "";  %>
				<h3 class="info" title="<%=property.description['short description']%><br><%=moreInfo%>" ><%=property.description.nickname%></h3>

				<!-- Type input for float / int and bool -->
				<% if(info.type == "float" || info.type == "int" || info.type == "double" || info.type == "string" || info.type == "uint"){ %>
				<input 
					class="property" 
					data-default="<%=valueField%>" 
					data-min="<%=info.minimum%>" 
					data-maximum="<%=info.maximum%>" 
					type="text" 
					value="<%=valueField%>" 
					name="<%=property.name%>" 
					placeholder="value type <%=info.type%>" />
				<% } %>

				<!-- Radion button for boolean -->
				<% if(info.type == "boolean"){ %>
					<label><input class="property checkbox" type="checkbox" name="<%=property.name%>"  value="<%=valueField%>" <% if(valueField == "true"){ %> checked="checked" <% } %> > active</label>
				<% } %>


				<!-- Dropdown for enum -->
				<% if(info.type == "enum"){ %>
				<select class="property" name="<%=property.name%>"
					data-default="<%=info["default value"].value%>">
					<% _.each(info.values, function(value){ %>>
	  					<option value="<%=value.value%>" 
	  						<% 
	  						if(valueField == value.name){ %> 
	  							selected="selected"
	  						<% } %> ><%= value.name%>
	  					</option>
					<% }); %>
				</select>
				<% } %>

			</li>
			<% }  %>
		<% }); %>
	</ul>
	<input type="submit" class="btn btn-large submit-quidd <%=action%>"  value="<%=action%>"/>
	<div class="btn btn-delete delete-quidd">Delete Source</div>
</form>
