<tr class="shmdata" data-path="<%=shmdata.path%>" data-quiddName="<%=sourceName%>">
	<% if(index == 0){ %>
		<td rowspan="<%=nbShmdata%>" class="group groupSource" ><div class="vertical"><%=sourceName%></div> <div class="edit"></div></td>
	<% } %>
	<th scope="row" class="nameInOut"  title="<%=shmdata.path%>" ><a href="#" class="preview" ><% var nameShm = shmdata.path.split("_")  %><%=nameShm[nameShm.length-1]%></a></th>
	<% _.each(destinations, function(destination){
		var active = false;
		_.each(destination.data_streams, function(path){
			if(path.path == shmdata.path){
				active = true;
			}
			})
	 %>
		<td class="box<% if(active){ %> active <% } %>" data-hostname="<%=destination.name%>"></td>
	<% }); %>
</tr>