<% if(property){ %><tr class="property" data-quiddName="<%=sourceName%>" data-propertyName="<%=property.name%>">
	<% if(index == 0){ %>
		<td rowspan="<%=nbProperties%>" class="group groupSource" >
			<div style="position:relative">
				<div class="edit"></div>
				<div class="vertical short nameSource"><%=sourceName%></div>
				<div class="actions">
					<div class="action"><div class="edit edit-source"></div></div>
					<div class="action"><div class="remove remove-source">x</div></div>
				</div>
			</div>
			
		</td>
	<% } %>
	<th scope="row" class="nameInOut"  >
		<div class="short">
			<a href="#" class=''><%=property["long name"]%></a>
		</div>

	</th>
<% _.each(destinations, function(destination){
	var active = false;
 %>
		<td class="box connect-properties<% if(active){ %> active <% } %>" data-nameAndProperty="<%=destination.name%>"></td>
	<% }); %>
</tr>
<% }else{ %><tr  data-quiddName="<%=sourceName%>">
		<td class="group groupSource" >
			<div style="position:relative">
				<div class="edit"></div>
				<div class="vertical short nameSource"><%=sourceName%></div>
				<div class="actions">
					<div class="action"><div class="edit edit-source"></div></div>
					<div class="action"><div class="remove remove-source">x</div></div>
				</div>
			</div>
		</td>
	</tr>
			
<% } %>