<% if(property){ %><tr class="property" data-quiddName="<%=sourceName%>">
	<% if(index == 0){ %>
		<td rowspan="<%=nbProperties%>" class="group groupSource" >
			<div style="position:relative">
				<div class="edit"></div>
				<div class="vertical short"><%=sourceName%></div>
			</div>
			<div class="actions">
				<div class="action"><div class="edit"></div></div>
				<div class="action"><div class="remove">x</div></div>
			</div>
			
		</td>
	<% } %>
	<th scope="row" class="nameInOut" >
		<div class="short">
			<a href="#" class=''><%=property.description["long name"]%></a>
		</div>

	</th>
	<% _.each(destinations, function(destination){
		var active = false;
	 %>
		<td class="box<% if(active){ %> active <% } %>" data-hostname="<%=destination.name%>"></td>
	<% }); %>
</tr>
<% } %>