
<div id="titleIn"></div>
<div id="titleOut"></div>

<div id="headerTable">
	<ul class="menuTable headerMenu">
		<% _.each(menus, function(menu){ %>
			<li>
				<div class="btnCreate" id="create-<%=menu.type%>">+ <%=menu.name%></div>
			</li>
		<% }); %>
	</ul>
</div><!-- headerTable -->

<table id="testTable">
	<thead>
		<tr>
			<th rowspan="2" colspan="3" class="infoTable">
			</th>
		</tr>
		<tr class="destinations"></tr>
	</thead>
	<tbody >
		<!-- <tr > <td rowspan="2">test</td> </tr> -->
		<tr><td colspan="7" class="sources" ></td></tr>
	</tbody>
</table>
