<form id="login_sip">
	 <div class="parameters">
        <h1>Login to sip</h1>

        <label>Address</label>
        <input type="text" width="100%" name="address" value="<%=sip.address%>" >

        <div class="">
            <label>Username</label>
            <input type="text" name="name" value="" autofocus>

        </div>
        <div class="">
            <label>Password </label>
            <input type="password" name="password" value="">
        </div>
        <div class="">
            <label>Port SIP </label>
             <input type="text" name="port" value="<%=sip.port%>">
        </div>
        
    </div>
    <input type="submit" id='submitSip' value="login" >

	
</form>