<div id="sourceMenu" >
  <% if(type == "classes"){ %>
  <% _.each(classes, function(category, name){ %>
  <h3 class="menuHeading">
    <%=name%>
  </h3>
  <div>
    <% _.each(category, function(clas){ %>
    <%  var autoDetect = _.contains(config.deviceAutoDetect, clas["class name"]);	%>
    <button class="createQuidd <% if(autoDetect){ %> autoDetect<% } %>" data-name="<%=clas['class name']%>" data-quiddname="<%=clas['long name']%>">
      <%=clas["long name"]%></button>
<% }); %>
  </div>
  <% }) %>
  <% } %>
</div>
<!--
<div id="sourceMenu" >
  <% if(type == "classes"){ %>
  <% _.each(classes, function(category, name){ %>
  <h3 class="menuHeading">
    <%=name%>
  </h3>
    <div>
      <ul id="subMenu">
        <li>
          <% _.each(category, function(clas){ %>
          <%  var autoDetect = _.contains(config.deviceAutoDetect, clas["class name"]);	%>
          <ul data-quiddname="<%=name%>">
            <ul class="createQuidd <% if(autoDetect){ %> autoDetect<% } %>" data-name="<%=clas['class name']%>" >
	      <a href="#"><%=clas["long name"]%></a>
            </ul>
          </ul>
        </li>
      <% }); %>
    </div>
  <% }); %>
  <% } %>

  <% if(type == "QuiddsAndProperties") { %>

  <% _.each(menus, function(menu, name){ %>
  <li>
    boo
    <a href="#"><%=name%></a>
    <ul  data-quiddname="<%=name%>">
      <% _.each(menu, function(property){ %>
      <li >
	<a class="create-ControlProperty" data-property="<%=property%>" href="#"><%=property%></a>
      </li>
      <% }); %>
    </ul>
  </li>
  <% }); %>
  
  <% } %>
</ul>
</div>
-->
