<ul id="subMenu" >
  <% if(type == "classes"){ %>
  <% _.each(classes, function(category, name){ %>
  <li>
    <% var name = $.t(name); %>
    <a href="#"><%=name%></a>
    <ul data-quiddname="<%=name%>">
      <% _.each(category, function(clas){ %>
      <%  var autoDetect = _.contains(config.deviceAutoDetect, clas["class name"]);	%>
      <li class="createQuidd <% if(autoDetect){ %> autoDetect<% } %>" data-name="<%=clas['class name']%>" >
        <% var longName = $.t(clas["long name"]); %>
	     <a href="#"><%=longName%></a>
      </li>
      <% }); %>
    </ul>
  </li>
  <% }); %>
  <% } %>

  <% if(type == "QuiddsAndProperties") { %>

  <% _.each(menus, function(menu, name){ %>
  <li>
    <a href="#"><%=name%></a>
    <ul  data-quiddname="<%=name%>">
      <% _.each(menu, function(property){ %>
      <li >
	<a class="create-ControlProperty" data-property="<%=property%>" href="#"><%=property%></a>
      </li>
      <% }); %>
    </ul>
  </li>
  <% }); %>
  
  <% } %>

</ul>
