
<!-- <div id="titleIn"></div> -->
<!-- <div id="titleOut"></div> -->


<div id="headerTable">
	<ul class="menuTable headerMenu" >
		<% _.each(menus, function(menu){ %>
			<li>
				<a href="#" class="get_classes" data-type="<%=menu.type%>" >+ <%=menu.name%></a>
			</li>
		<% }); %>
	</ul>
</div><!-- headerTable -->

<table class="tableScenic">
	<thead>
		<tr>
			<th rowspan="2" colspan="3" class="infoTable">
			</th>
		</tr>
		<tr class="destinations"></tr>
	</thead>
	<tbody >
		<!-- <tr > <td rowspan="2">test</td> </tr> -->
		<tr><td colspan="7" class="sources" id="local-sources"></td></tr>
		<tr><td colspan="7" class="sources" id="remote-sources" ></td></tr>
	</tbody>
</table>
